/**
* @name Jojo Bizare adventure theme
* @description Jojo Bizarre adventure theme with all jojos Based on NotAnotherAnimeTheme
* @version 1.0
* @author szopjle#4172 | justsenpai_
* @authorId 270607409150558208
*/
@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css);
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');

:root {
    --background-image: url(https://i.imgur.com/WMBLeyA.jpg);
    --friends-icon: url(https://i.imgur.com/8fgcrF9.jpg);
    --friends-icon-position: center center;
    --friends-icon-zoom: 100%;
    --main-color: rgb(60, 98, 170);
    --main-transparency: rgba(3, 3, 22, 0.87);
    --unread-server-animation: rainbow;
    --hover-list-bg-color: rgba(65, 48, 160, 0.726);
    --border-lines-color: rgba(0, 0, 255, 0.37);
    --scroll-bar-color: rgba(65, 21, 187, 0.555);
    --font:'Garamond';
    --font-size: 16px;
    --selected-text-voice-color: #9393eb;
    --channel-hover-text-color: rgba(186, 180, 243, 0.781);
    --unread-text-color: #ff0000;
    --user-popup-background: rgba(218, 30, 30, 0.8);
    --rs-width: 2px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--HSL-server-icon-size: 30px;
--HSL-server-spacing: 5px;
    
}