/**
* @name Mashiro shiina Theme
* @description Mashiro shiina from Sakurasao theme Based on NotAnotherAnimeTheme
* @version 1.0
* @author Justsenpai_ | szopjle#4172
* @authorId 270607409150558208
*/
@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css);
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
:root {
    --background-image: url(https://images3.alphacoders.com/844/844864.png);
    --friends-icon: url(https://images5.alphacoders.com/844/844868.png);
    --friends-icon-position: center center;
    --friends-icon-zoom: 100%;
    --main-color: rgb(255, 238, 0);
    --main-transparency: rgba(7, 2, 0, 0.719);
    --unread-server-animation: rainbow;
    --hover-list-bg-color: rgba(255, 0, 0, 0.397);
    --border-lines-color: rgba(117, 46, 5, 0.521);
    --scroll-bar-color: rgba(255, 60, 0, 0.63);
    --font-size: 16px;
    --selected-text-voice-color: #ff3c00;
    --channel-hover-text-color: rgb(255, 0, 0);
    --unread-text-color: #ffffff;
    --user-popup-background: rgba(218, 30, 30, 0.8);
    --scrollbar-colour: rgb(230, 69, 6);
    --rs-small-spacing: 1px;
    --rs-large-spacing: 2px;
    --rs-width: 2px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #747f8d;
    --HSL-server-icon-size: 30px;
--HSL-server-spacing: 5px;
}